@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'readex pro', sans-serif;
}

body {
    background-image: url("Assets/qatar uni.png");
    background-repeat: no-repeat;
    object-fit: fill; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 95%;
    height: 75%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    /* backdrop-filter: blur(11px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left; */
}

header {
    position: absolute;
    top: -10px;
    left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 11rem;
    
}

.buttons button {
    margin-left: 24px;
    margin-bottom: 10px;
    padding:10px;
    border: none;
    cursor: pointer;
    background-color:white ;
    color: rgb(44,38, 38);
    font-weight:bolder;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#logoutbutton{
    background-color: rgb(142, 24, 55);
    color: rgb(44,38, 38);
    font-weight: bolder;
    margin-right: 34px;
   
    width:100px ;
}

#logoutbutton:hover{
    background-color: rgb(93, 23, 23);
}

.register:hover{
    background-color: rgb(101, 97, 97);
}

.view-path:hover{
    background-color: rgb(101, 97, 97);
}

.search-bar {
    display: flex;
    margin-top: 10px;
    width:241px ;
    
}

.search-bar input {
    padding: 12px;
    border-radius: 30px;
    background-color:white ;
    
}

.fa-magnifying-glass{
    color: #2c2626; 
    font-weight: bolder;
   
    
}

::placeholder{
    color: rgb(44,38, 38);
    font-weight: 500;
    text-align: left;

}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background: rgb(142, 24, 55);
    color:rgb(44,38, 38) ;
    padding: 10px;
    border: 1px solid #2c2626;
}

tr{
    
}

td {
    padding: 25px;
    border: 2px solid #2c2626;
}