@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'readex pro', sans-serif;
}

body {
    background-image: url("Assets/qatar uni.png");
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 95%;
    height: 85%;
    margin-top: 6rem;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(11px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: auto;
    
}

header {
    position: absolute;
    top: 0px;
    left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 6.5rem;
}

.buttons button {
    margin-left: 24px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: rgb(44, 38, 38);
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#logoutbutton {
    background-color: rgb(142, 24, 55);
    color: rgb(44, 38, 38);
    font-weight: bolder;
    margin-right: 34px;
    width: 100px;
}

#logoutbutton:hover {
    background-color: rgb(93, 23, 23);
}

.register:hover,
.view-path:hover {
    background-color: rgb(101, 97, 97);
}

.search-bar {
    display: flex;
    align-items: center; 
    gap: 1rem;          
  }

.search-bar input {
    padding: 12px;
    border-radius: 30px;
    background-color: white;
}

.fa-magnifying-glass {
    color: #2c2626;
    font-weight: bolder;
}

table {
    width: 100%;
    max-width: 100%; 
    height: auto;
    margin-top: 20px;
    border-collapse: collapse;
    display: table;
}

th, td {
    padding: 20px 10px; 
    border: 2px solid #2c2626;
    border-left: none;
    border-right: none;
    word-wrap: break-word;
    text-align: left;
    font-family: 'Roboto', sans-serif; 
}


td {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

th {
    background: rgb(142, 24, 55);
    color: rgb(44, 38, 38);
}


table td a {
    color: black;
    transition: color 0.3s ease-in-out; 
  }
  
  table td a:hover {
    color: rgb(93, 23, 23); 
  }
  

.container::-webkit-scrollbar {
    width: 0.7rem; 
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
    
}

.container::-webkit-scrollbar-thumb {
    background: rgba(177, 177, 177, 0.882); 
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #5c111f; 
}

#tableEntries {
    transition: opacity 0.3s ease-in-out; 
  }

#course-title,#course-details{
    font-family: 'Poppins', sans-serif; 
}

#completedList,
#inProgressList,
#pendingList{
  margin-bottom: 30px;
  padding-left: 20px;
  line-height: 1.8;
}



@media (max-width: 700px) {


    .buttons{
        display: flex;
        justify-content: space-evenly;
    }

    .buttons button{
        height: 2rem;
        width: 4.2rem;
        font-size: 0.6rem;
    }

    #logoutbutton{
        width: 4.2rem;
    }

    span{
        display: none;
    }


}